.sapMBtn {
	margin-top: 30px;
}

.sapMBtnInner {
	border: none;
}

.sapMInputBaseInner {
	border: none;
}

.sap-desktop {
	background-image: url(images/bg.jpg);
	background-size: 100%;
	background-repeat: repeat;
}

.sapUiBody {
	background-image: url(images/bg.jpg) !important;
	background-size: 100%;
	background-repeat: repeat;
}

.panelStyle {
	position: absolute;
	top: 30%;
	left: 30%;
	margin-top: -75px;
	margin-left: -150px;
}